[submodule "sensor_wifi"]
	path = sensor_wifi
	url = git@github.com:cristianfunes79/sensor_wifi.git
[submodule "third_party/esp8266_idf/ESP8266_RTOS_SDK"]
	path = third_party/esp8266_idf/ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "third_party/esp32_idf/esp-idf"]
	path = third_party/esp32_idf/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "Equipo_Central"]
	path = Equipo_Central
	url = git@github.com:Juanlzc/Equipo_Central.git
